html, body {
  overflow-x: hidden;
}

main {
  font-family: Lato;
  padding-top: 40px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
}

h1, h2, h3 {
  text-align: center;
  font-size: 40px;
  color: rgb(55, 105, 103);
  padding-top: 42px;
  margin-top: 0;
  margin-bottom: 0;
}

.down-arrow {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45px;
  height: 45px;
  transition: width 0.15s, height 0.15s;
  margin-top: 50px;
}

.down-arrow:hover {
  width: 50px;
  height: 50px;
}

@media (max-width: 990px) {
  .down-arrow {
    width: 40px;
    height: 40px;
  }
  .down-arrow:hover {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 670px) {
  .down-arrow {
    width: 35x;
    height: 35px;
  }
  .down-arrow:hover {
    width: 44px;
    height: 44px;
  }
}
