.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(240, 240, 240);
  height: 656px;
  font-family: Lato;
  padding-top: 20px;
}

.skills-container {
  letter-spacing: 1px;
  margin-top: 130px;
  color: rgb(251, 246, 245);
  margin-bottom: 110px;
}

.skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
}

.skill-subject {
  font-weight: bold;
  padding: 20px 80px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0px 6px 5px rgba(0, 0, 0, 0.41);
  background-color: rgb(62, 63, 68);
}

.skill-title {
  font-size: 28px;
  margin-bottom: 30px;
}

.skill-name {
  font-size: 17px;
  margin-bottom: 10px;
  color: white;
}

@media(max-width: 1730px) {
  .skills-section .down-arrow {
    margin-top: 20px;
  }
}

@media (max-width: 1120px) {
  .skills-section{
    height: 750px;
  }
  .skills-grid {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
    margin-top: -20px;
  }
  .skill-title {
    font-size: 23px;
    margin-bottom: 18px;
  }
  .skill-name {
    font-size: 14px;
  }
  .skill-subject {
    padding: 10px 40px;
    font-size: 10px;
  }
  .skills-section .down-arrow {
    margin-top: 47px;
  }
}

@media (max-width: 670px) {
  .skills-section{
    height: 1000px;
    padding-top: 30px;
  }
  .skills-grid {
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 20px;
    margin-top: -50px;
  }
  .skill-title {
    font-size: 22px;
  }
  .skill-name {
    font-size: 12px;
  }
  .skill-subject {
    padding: 10px 30px;
    font-size: 10px;
  }
  .skills-section .down-arrow {
    margin-top: 50px;
  }
}
